:root {
  --base-teal: #0b7285;
  --shade-teal: #1893a9;
  --very-light-teal: #e3fafc;
  --accent-red: #d8200d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-light-teal);
  font-family: sans-serif;
  width: 100%;
  color: #222;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 3rem;
}

.logo-box {
  display: flex;
  /* margin: 2rem 3rem; */
}

.owl-logo {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

h1 {
  color: var(--accent-red);
  font-size: 3rem;
}

nav {
  display: flex;
  /* margin: 0 3rem; */
  box-shadow: 0, 0, 0, rgba(0, 0, 0, 0.8);
}

nav input {
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  background-color: var(--base-teal);
  color: #fff;
  border: 1px solid var(--base-teal);
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

nav input:hover {
  background-color: var(--shade-teal);
  border-color: var(--shade-teal);
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.5rem;
  margin: 0 3rem;
}

.card {
  width: 100%;
  height: 100%;
  /* margin: 3rem auto; */
  background-color: #fff;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-2 {
  background-image: linear-gradient(
    75deg,
    white,
    lightgray 5%,
    white 15%,
    lightgray 55%,
    lightgray 90%,
    white
  );
  overflow: hidden;
  background-size: 100%;
  background-attachment: fixed;
  min-height: 300px;
  font-family: arial, sans-serif;
  min-width: 300px;
  padding: 0;
}
a {
  color: black;
  /* display: flex; */
}
#contain_moon {
  background-color: black;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#contain_moon div:nth-child(4) svg {
  /* next full moon icon */
  width: 0;
}

/* .metar-form {
  width: 30rem;
  margin: 3rem auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} */

label {
  font-size: 0.75rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

input,
select {
  width: 100%;
  display: block;
  color: #333;
  padding: 0.25rem;
  font: inherit;
  border: 1px solid #888;
  margin-bottom: 1rem;
}

/* #taf:link,
#taf:visited,
#taf:active {
  background-color: #0b7285;
} */

select {
  background-color: var(--very-light-teal);
}

button {
  font: inherit;
  background-color: var(--base-teal);
  color: #fff;
  border: 1px solid var(--base-teal);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.buttons {
  display: flex;
  justify-content: space-between;
  /* margin: 0 3rem; */
}

button:hover {
  background-color: var(--shade-teal);
  border-color: var(--shade-teal);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}

input[type="checkbox"] {
  accent-color: var(--very-light-teal);
}

.card-3 h2 {
  text-align: center;
}

.card-3 ul {
  list-style: none;
  padding: 2rem auto;
  line-height: 1.5rem;
}

.card-3 li {
  text-align: center;
}

.card-3 a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.card-3 a:hover {
  color: var(--accent-red);
}

/* @media (max-width: 62.5rem) {
  main {
    grid-template-columns: 1fr 1fr;
  }
} */

@media (max-width: 48rem) {
  h1 {
    font-size: 1.5rem;
  }
  .owl-logo {
    height: 1.5rem;
    width: 1.5rem;
  }
  main {
    grid-template-columns: 100%;
    margin: 0 1.5rem;
  }
  header {
    margin: 1rem 1.5rem;
  }
}
